flows_raspberrypi.json
[{"id":"ae8bafa7.023bf","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"fd2dac08.774e5","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"921600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"100","bin":"false","out":"time","addchar":"\\n","responsetimeout":"10000"},{"id":"a569fd3e.f754e8","type":"serial in","z":"ae8bafa7.023bf","name":"","serial":"fd2dac08.774e5","x":310,"y":180,"wires":[["27f4b7a6.7881f"]]},{"id":"192374dc.20c0eb","type":"serial out","z":"ae8bafa7.023bf","name":"","serial":"fd2dac08.774e5","x":560,"y":100,"wires":[]},{"id":"5b8220e.4bca2e","type":"inject","z":"ae8bafa7.023bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":100,"wires":[["192374dc.20c0eb"]]},{"id":"27f4b7a6.7881f","type":"debug","z":"ae8bafa7.023bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":180,"wires":[]}]